tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
testpath==0.3.1
cairocffi==0.8.0
cffi==1.11.2
chardet==3.0.4
cycler==0.10.0
gizeh==0.1.10
idna==2.6
jsonlines==1.2.0
Pillow==5.0.0
pycparser==2.18
pyparsing==2.2.0
pypng==0.0.18
six==1.11.0
pathlib
pbr
funcsigs
absl-py
numpy
click
